body{
    text-align: center; 
}
#img{
    margin-top: 112px;
}
a{
    color: #272727;
    text-decoration: none;
    padding-right: 10px;
    font-family: Arial;
    font-size: 13px;
}
a:hover{
    color: #777777;
    text-decoration: underline;
}
.right{
    text-align: right;
}
h1{
    text-align: center;
}
.searchbar{
    border-style: groove;
    border: 2px solid #DFE1E5;
    border-radius: 40px;
    width: 43.3%;
    padding: 14.5px;
    margin-top: 9px;
    border-width: 1px;
    outline:none;
}
.searchbar:hover{
    box-shadow: 0 0 5px #C6C6C6;     
}
.button {
    background-color: #F4F4F4; 
    color: #7F637D; 
    padding: 10px 15px;
    border: 1px solid #F4F4F4;
    border-radius: 5px;
    margin: 6px;
    outline:none;

}      
.button:hover {
    border: 1px solid #C6C6A6;
    color: black;
}
